bootstrap4==0.1.0
cycler==0.10.0
Django==2.0.4
django-bootstrap-form==3.4
django-bootstrap4==0.0.6
django-filter==1.1.0
django-pure-pagination==0.3.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2018.4
six==1.12.0
sqlparse==0.3.0
