{% extends 'base.html' %}

{% load static %}

{% block title %}Start a New Topic{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

<!-- パンくずリスト -->
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'licenses:home' %}">Licenses</a></li>
<li class="breadcrumb-item"><a href="{% url 'licenses:publication_list' html_obj.pk %}">{{ html_obj.display_name }}</a></li>
<li class="breadcrumb-item active">New publication</li>
{% endblock %}

{% block content %}
<form method="post" class="mb-4" novalidate>
  {% csrf_token %}
  {% include 'includes/form.html' %}
  <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}