<!-- 親テンプレートを読み込む-->
{% extends 'License/base.html' %}
{% block content %}
 <div class="content-wrapper">
   <div class="container-fluid">
     <!-- パンくずリストの設定-->
     <ol class="breadcrumb">
       <li class="breadcrumb-object">
         <a href="{% url 'admin:index' %}">管理画面</a>
        </li>
       <li class="breadcrumb-object">
         <a href="{% url 'License:list' %}">TOP</a>
       </li>
       <li class="breadcrumb-object active">詳細表示</li>
     </ol>
     <!--ページタイトル-->
     <div class="card mb-3">
       <div class="card-header">
         <h3><b>ライセンス管理</b></h3></div>
       <div class="card-body">
         <!-- テーブル表の定義 -->
         <div class="table-responsive">
         <table width="100%" class="table table-striped table-bordered table-hover">
           　<!-- 表の列の定義-->
             <thead>
               <tr>
                 <th class="text-center">作成日</th>
                 <th class="text-center">開始日</th>
                 <th class="text-center">終了日</th>
                 <th class="text-center">MACアドレス</th>
                 <th class="text-center">販売価格</th>
                 <th class="text-center">付与ポイント</th>
                 <th class="text-center">残数ポイント</th>
                 <th class="text-center">更新期限通知</th>
                 <th class="text-center">更新申請受理</th>
                 <th class="text-center">Key情報収集案内</th>
                 <th class="text-center">更新Key発行連絡</th>
                 <th class="text-center">廃止回収日</th>
                 <th class="text-center">メモ</th>
                 <th class="text-center">更新・詳細・削除</th>

                </tr>
             </thead>
           　<!-- ここまでが表の列の定義-->
           　<!-- 表のデータ部分の表示-->
           <tbody>
              {% for object in object_list %}
             <tr class="odd gradeX text-center">
                <td class="text-center" >{{ object.created_at }}</td>
                <td class="text-center" >{{ object.begin_date }}</td>
                <td class="text-center" >{{ object.end_date }}</td>
                <td class="text-center" >{{ object.mac_address }}</td>
                <td class="text-center" >{{ object.price }}</td>
                <td class="text-center" >{{ object.grant_point }}</td>
                <td class="text-center" >{{ object.remaining_point }}</td>
                <td class="text-center" >{{ object.renewal_deadline_notification }}</td>
                <td class="text-center" >{{ object.renewal_application_accepted }}</td>
                <td class="text-center" >{{ object.renewal_application_send }}</td>
                <td class="text-center" >{{ object.renewal_key_publish_notification }}</td>
                <td class="text-center" >{{ object.discontinued_product_collection }}</td>
                <td class="text-center" >{{ object.memo }}</td>
                <td class="text-center" >
                    <a class="btn btn-primary" href="{#% url 'License:update' object.pk %#}" role="button">更新</a>
                    <a class="btn btn-info" href="{#% url 'License:histrory' object.pk %#}" role="button">詳細</a>
                    <a class="btn btn-danger" href="{#% url 'License:delete' object.pk %#}" role="button">削除</a>
                </td>
             </tr>
              {% endfor %}
            </tbody>
        　<!-- ここまでが表のデータ部分の表示-->
           </table>
           <!-- ここまでがテーブル表の定義 -->
           <a class="btn btn-primary" href="{% url 'License:list' %}" role="button">全リストに戻る</a>
       </div>
      </div>
      </div>
   </div>
  </div>
{% endblock content %}